/win/tinyxml
.libs
.deps
*.o
*.lo
Makefile
*.la
/config.h
/config.log
/config.status
/examples/c++/dvdinfocxx.exe
/examples/c++/dvdlookupcxx.exe
/examples/c++/dvdsubmitcxx.exe
/examples/c/dvdinfo.exe
/examples/c/dvdlookup.exe
/examples/c/dvdsubmit.exe
/libtool
/stamp-h1
